@charset "utf-8";
/*Import Ubuntu font family from Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
	background: #002040;
	font-family: Ubuntu, sans-serif;
	color: #ffffff;
}

a{
    color: #0080ff;
}

#wrapper{
	width: 75%;
	margin: 0 auto;
	background: #004080;
	padding: 8px;
}

header h1{
	text-align: center;
	font-size: 5em;
	color: #ff0000;
	font-weight: normal;
	margin: 0;
}

nav{
	background: #0060c0;
}

nav a{
	color: #ffffff;
	text-decoration: none;
	padding: 0px 30px;
	font-size: 24px;
	margin: 0 auto;
}

nav a:hover{
	background: #0080ff;
}

nav li{
	display: inline-block;
}

nav ul{
	padding-left: 0px;
	text-align: center;
}

main h1{
    text-decoration: underline;
	font-size: 36px;
	color: #80c0ff;
	font-weight: normal;
	margin: 0;
}
