@charset "utf-8";
/*Import Ubuntu font family from Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
	font-family: Ubuntu, Arial, sans-serif;
}

h1{
	color: #ffffff;
}

canvas{
	border: 1px solid #000000;
	max-width: 100%;
}

table{
	width: 75%;
	background: #c0c0c0;
	border-collapse: collapse;
	text-align: center;
	font-size: 2em;
}

td{
	border: 1px solid #000000;
	height: 60px;
}

td.lrbutton{
	width: 22.5%;
}

td.udbutton{
	width: 30%;
}
