:root {
	--bg-color: #ffffff;
	--text-color: #202020;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #202020;
		--text-color: #ffffff;
	}
	
	a:link { color: #8080ff; }
	a:visited { color: #d480ff; }
}

body {
	font-family: "Inter Alia", "Noto Sans Shavian", "Noto Sans", sans-serif;
	font-size: 110%;
	background-color: var(--bg-color);
	color: var(--text-color);
}

@font-face {
	font-family: "Inter Alia";
	src: url(../fonts/interalia/instance_woff2/InterAlia-Regular.woff2);
}

@font-face {
	font-family: "Inter Alia";
	src: url(../fonts/interalia/instance_woff2/InterAlia-Bold.woff2);
	font-weight: bold;
}

@font-face {
	font-family: "Inter Alia";
	src: url(../fonts/interalia/instance_woff2/InterAlia-Italic.woff2);
	font-style: italic;
}

@font-face {
	font-family: "Inter Alia";
	src: url(../fonts/interalia/instance_woff2/InterAlia-BoldItalic.woff2);
	font-weight: bold;
	font-style: italic;
}

p {
	text-indent: 2em each-line;
	text-align: justify;
}

.noindent, .noindent p {
	text-indent: 0;
}

h1, h2 {
	text-align: center;
	margin: 0;
}
h1 {
	font-size: 3em;
}

.wrapper {
	max-width: 32em;
	padding: 0 1em;
	margin: 0 auto;
}

.flex {
	display: flex;
	justify-content: space-between;
	margin: 1em 0;
}

.flex div {
	align-self: center;
}

.flex div.left {
	text-align: left;
	flex: 1 1 0px;
}

.flex div.center {
	text-align: center;
}

.flex div.right {
	text-align: right;
	flex: 1 1 0px;
}
